<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nick.api.mapper.DriverMapper">
    <!--    Student表示实体类 ,id给下面的resultMap使用-->
    <resultMap type="Driver" id="DriverResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="describe" column="describe"/>
        <result property="avatar" column="avatar"/>
        <result property="sort" column="sort"/>
        <result property="metroId" column="metro_id"/>
    </resultMap>
    <!--    resultMap->复杂的映射逻辑 ,resultType->简单的映射逻辑,选其一即可-->
    <select id="findUser" resultMap="DriverResult">
        SELECT driver.*,
        (case when sex = '女' then (case
        when age &lt;= 20 then '年轻,漂亮'
        when age &gt; 20 and age &lt;= 28 then '风华正茂'
        else '老了'
        end) end) AS `describe`
        FROM driver
        <where>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null">and name like "%" #{name} "%"</if>
            <if test="age != null">and age = #{age}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="avatar != null">and avatar = #{avatar}</if>
        </where>
        ORDER BY id ASC
    </select>
    <insert id="addUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Driver">
        INSERT INTO driver(name, age, sex, avatar, metro_id)
        VALUES (#{name}, #{age}, #{sex}, #{avatar}, #{metroId})
    </insert>
    <insert id="batchInsertUsers" parameterType="java.util.List">
        INSERT INTO driver(name, age, sex, avatar)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.age}, #{item.sex}, #{item.avatar})
        </foreach>
    </insert>
    <update id="updateUser" parameterType="Driver">
        UPDATE driver
        SET name    = #{name},
            age     = #{age},
            sex     = #{sex},
            avatar  = #{avatar},
            metro_id= #{metroId}
        WHERE id = #{id}
    </update>
    <delete id="deleteUserByIds" parameterType="Long">
        DELETE
        FROM driver
        WHERE id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>